

body {
  background-color: rgb(30, 24, 36);
}
/* 
.main-container {
  width: 50vw;
  height: 25vh;
  background-color: rgb(23, 15, 15);
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 15rem;
}
.input-container {
 display: flex;
 justify-content: center;

}
input {
  padding: 10px 15px;
  width: 70%;
  border-radius: 5px;
  border:none ;
  outline: none;
}
button {
  padding: 10px 15px;
  width: 10%;
  border-radius: 5px;
  border:none ;
  outline: none;
  
} */
